# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
A={1,2,3,4,5,6,7,8,9,10}
print(A)
A={i for i in range(1,11)}
print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
A.add(11)
print(A)
A.discard(1)
print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [10]:
A={i for i in range(1,6)}
B={i for i in range(2,11,2)}
print(A)
print(B)
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}
{1, 3, 5, 6, 8, 10}

In [12]:
C={x**2 for x in range(1,11)}
print(C)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [13]:
A={i for i in range(1,11)}
C={x for x in A if x%2==0 }
print(C)

{2, 4, 6, 8, 10}

In [15]:
B={1,1,2,2,2,3,3,4,4,5,6,7,8,8,7,6,5,5}
C=set(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
A={1,2,3,4,5}
B={1,2,3}
print(B.issubset(A))
print(A.issuperset(B))

True
True

In [17]:
fs=frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [18]:
A={i for i in range(1,6)}
B=list(A)
B.append(6)
print(B)
A=set(B)
print(A)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [20]:
d={
    frozenset({1,2,3}):1,

    frozenset({4,5,6}):2,
    frozenset({7,8,9}):3
}
print(d)

d={
    frozenset({1,2,3}):"Manohar",

    frozenset({4,5,6}):"Reddy",
    frozenset({7,8,9}):"Python"
}
print(d)

{frozenset({1, 2, 3}): 1, frozenset({4, 5, 6}): 2, frozenset({8, 9, 7}): 3}
{frozenset({1, 2, 3}): 'Manohar', frozenset({4, 5, 6}): 'Reddy', frozenset({8, 9, 7}): 'Python'}

In [30]:
A={1,2,3,4,5,6,7,8,9,10}
for i in A:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
while A:
    A.pop()
    print(A)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [33]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [34]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}