# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
a=(1,2,3,4,5,6,7,8,9,10)
print(a)
type(a)
b=tuple(x for x in range(1,11))
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
first,*middle,last=a
print(f"first:{first},middle:{middle},last:{last}")
print(a[len(a)//2])

first:1,middle:[2, 3, 4, 5, 6, 7, 8, 9],last:10
6

In [12]:
print(a[:3])
print(a[-3:])
print(a[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [18]:
mat=((1,2,3),(4,5,6),(7,8,9))
print(mat)
for row in mat:
    print(row)

print("the second row third column element:",mat[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
the second row third column element: 6

In [19]:
tup1=(1,2,3)
tup2=(4,5,6)
tup=tup1+tup2
print(tup)

(1, 2, 3, 4, 5, 6)

In [21]:
tup=(1,1,1,2,3,3,4,4,5,5,5,6,6,6,7,7,8)
print(f"the count of 5 is : {tup.count(5)}")
print(f"the first occurence of 3 is at index:{tup.index(3)}")

the count of 5 is : 3
the first occurence of 3 is at index:4

In [26]:
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

In [2]:
lst=[1,2,3,4,5]
tup=tuple(lst)
print(lst)
print(tup)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [47]:
# tuple=()
# len(tuple)=3
# len(tuple[0])=3
# for row in tuple:
#     row()
#     for col in row:
#         val=int(input("enter the value:"))
#         col.append(val)
#     row.append(tuple)
# print(tuple)
tup=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [3]:
# tup10=(1,2,3,4,5)
# lst=list(tup10)
# lst.append(6)
# print(lst)
# tup10= tuple (lst)
# tpl0 = tuple(lst)
# print(tup10)




tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [5]:
str="manohar"
tpl=tuple(str)
joined_str=''.join(tpl)
print(joined_str)

manohar

In [12]:
tpl_dict={
    (1,2):10,
    (3,4):20,
    (5,6):30
}
print(tpl_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [13]:
nst=((1,2,3),(4,5,6),(7,8,9))
for row in nst:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9

In [14]:
tup=(1,1,1,2,3,3,4,4,5,5,5,6,6,6,7,7,8)
set1=set(tup)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
def min(tup):
    min_val=tup[0]
    for i in range(len(tup)):
        if tup[i]<min_val:
            min_val=tup[i]
    return min_val

def max(tup):
    max_val=tup[0]
    for i in range(len(tup)):
        if tup[i]>max_val:
            max_val=tup[i]
    return max_val

def sum(tup):
    sum=0
    for i in range(len(tup)):
        sum=sum+tup[i]
    return sum

sample_tup=(1,2,3,4,5,6,7)
print(f"the min :{min(sample_tup)}")
print(f"the max :{max(sample_tup)}")
print(f"the sum :{sum(sample_tup)}")

the min :1
the max :7
the sum :28